In [1]:
# import curret table

In [2]:
import pandas as pd
IW_MBRENG_WORKDB_NDC_DCR_LIST=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\task2_inputfiles.xlsx",sheet_name="NDC_DCR_LIST")
IW_MBRENG_WORKDB_NDC_DCR_LIST

      NDC_NBR  DCR_DRUG_LST_ID
0       10001                1
1       10001                2
2       10001                3
3       10001                4
4       10001                5
...       ...              ...
1014    10062                6
1015    10062                7
1016    10062                8
1017    10062                9
1018    10062               10

[1019 rows x 2 columns]

In [3]:
# basic checks

In [4]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.shape

(1019, 2)

In [5]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.dtypes

NDC_NBR            int64
DCR_DRUG_LST_ID    int64
dtype: object

In [6]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.head()

   NDC_NBR  DCR_DRUG_LST_ID
0    10001                1
1    10001                2
2    10001                3
3    10001                4
4    10001                5

In [7]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.tail()

      NDC_NBR  DCR_DRUG_LST_ID
1014    10062                6
1015    10062                7
1016    10062                8
1017    10062                9
1018    10062               10

In [8]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID'], dtype='object')

In [9]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.NDC_NBR.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [10]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.NDC_NBR.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [11]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.DCR_DRUG_LST_ID.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80], dtype=int64)

In [12]:
# import history table

In [13]:
import pandas as pd
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\task2_inputfiles.xlsx",sheet_name="NDC_DCR_LIST_HIST")
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001              1.0  2021-05-23 2024-09-03
1       10001              2.0  2021-08-09 2024-09-03
2       10001              3.0  2022-03-01 2022-07-05
3       10001              4.0  2020-01-20 2022-07-05
4       10001              5.0  2020-11-10 2024-09-03
...       ...              ...         ...        ...
2032    10060             28.0  2022-09-01 2024-09-03
2033    10060             29.0  2021-04-07 2024-09-03
2034    10060             30.0  2022-04-20 2024-09-03
2035    10060             31.0  2021-04-03 2024-09-03
2036    10060             32.0  2022-09-01 2024-09-03

[2037 rows x 4 columns]

In [14]:
# basic checks

In [15]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.shape

(2037, 4)

In [16]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.head()

   NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0    10001              1.0  2021-05-23 2024-09-03
1    10001              2.0  2021-08-09 2024-09-03
2    10001              3.0  2022-03-01 2022-07-05
3    10001              4.0  2020-01-20 2022-07-05
4    10001              5.0  2020-11-10 2024-09-03

In [17]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.tail()

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2032    10060             28.0  2022-09-01 2024-09-03
2033    10060             29.0  2021-04-07 2024-09-03
2034    10060             30.0  2022-04-20 2024-09-03
2035    10060             31.0  2021-04-03 2024-09-03
2036    10060             32.0  2022-09-01 2024-09-03

In [18]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE', 'DROP_DATE'], dtype='object')

In [19]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.DCR_DRUG_LST_ID.unique()

array([ 1. ,  2. ,  3. ,  4. ,  5. ,  6. ,  7. ,  8. ,  9. , 10. , 11. ,
       12. , 13. , 14. , 15. , 16. , 17. , 18. , 19. , 20. , 21. , 22. ,
       23. , 24. , 25. , 26. , 27. , 28. , 29. , 30. , 31. , 32. , 33. ,
       34. , 35. , 36. , 37. , 38. , 39. , 40. , 41. , 42. , 43. , 44. ,
       45. , 46. , 47. , 48. , 49. , 50. , 51. , 52. , 53. , 54. , 55. ,
       56. , 57. , 58. , 59. , 60. , 61. , 62. , 63. , 64. , 65. , 66. ,
       67. , 68. , 69. , 70. , 71. , 72. , 73. , 74. , 75. , 76. , 77. ,
       78. , 79. , 80. , 81. , 82. , 83. , 84. , 85. , 86. , 87. , 88. ,
        4.7,  5.4,  6.1,  6.8,  7.5,  8.2,  8.9,  9.6, 10.3, 11.7, 12.4,
       13.1, 13.8, 14.5, 15.2, 15.9, 16.6, 17.3, 18.7, 19.4, 20.1, 20.8,
       21.5, 22.2, 22.9, 23.6, 24.3, 25.7, 26.4, 27.1, 27.8, 28.5, 29.2,
       29.9, 30.6, 31.3, 32.7, 33.4, 34.1, 34.8, 35.5, 36.2, 36.9, 37.6,
       38.3])

In [20]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.NDC_NBR.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027,
       10028, 10029, 10030, 10045, 10046, 10047, 10048, 10049, 10050,
       10051, 10052, 10053, 10054, 10055, 10056, 10057, 10058, 10059,
       10060], dtype=int64)

In [21]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID           float64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [22]:
#convert float values into int

In [23]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST['DCR_DRUG_LST_ID']=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST['DCR_DRUG_LST_ID'].astype('int64')

In [24]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [25]:
#IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.to_timeslot

In [26]:
#filter drop date == future date

In [27]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST[IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST["DROP_DATE"]=="2024-09-03"]

In [28]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[1866 rows x 4 columns]

In [29]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [30]:
# filter drop date not equals to future date

In [31]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_not=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST[IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST["DROP_DATE"]!="2024-09-03"]

In [32]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_not

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2      10001                3  2022-03-01 2022-07-05
3      10001                4  2020-01-20 2022-07-05
5      10001                6  2020-07-22 2022-09-01
9      10001               10  2021-08-15 2022-09-01
13     10002                4  2021-04-07 2022-07-05
..       ...              ...         ...        ...
870    10023               12  2021-04-03 2022-04-20
874    10023               16  2021-08-09 2022-07-05
875    10023               17  2022-03-01 2022-04-20
881    10023               23  2020-02-09 2022-04-20
885    10023               27  2022-09-01 2022-07-05

[171 rows x 4 columns]

In [33]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_not.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [34]:
# rename a current table columns

In [35]:
NDC_NBR_LIST_V1=IW_MBRENG_WORKDB_NDC_DCR_LIST

In [36]:
NDC_NBR_LIST_V1.columns=['NDC_NBR_V1','DCR_DRUG_LST_ID_V1']

In [37]:
NDC_NBR_LIST_V1.dtypes

NDC_NBR_V1            int64
DCR_DRUG_LST_ID_V1    int64
dtype: object

In [38]:
# merge future date with current table

In [39]:
f_merge_fudt_cudt=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt.merge(NDC_NBR_LIST_V1,right_on=['NDC_NBR_V1','DCR_DRUG_LST_ID_V1'],left_on=['NDC_NBR','DCR_DRUG_LST_ID'],how="left")

In [40]:
f_merge_fudt_cudt

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_V1,DCR_DRUG_LST_ID_V1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,5,2020-11-10,2024-09-03,10001.0,5.0
3,10001,7,2021-02-19,2024-09-03,10001.0,7.0
4,10001,8,2022-07-05,2024-09-03,10001.0,8.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,NaN,NaN
1862,10060,29,2021-04-07,2024-09-03,NaN,NaN
1863,10060,30,2022-04-20,2024-09-03,NaN,NaN
1864,10060,31,2021-04-03,2024-09-03,NaN,NaN
1865,10060,32,2022-09-01,2024-09-03,NaN,NaN

In [41]:
f_merge_fudt_cudt.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE             datetime64[ns]
NDC_NBR_V1                   float64
DCR_DRUG_LST_ID_V1           float64
dtype: object

In [42]:
# filter nan values

In [43]:
#df2['Discount'] =  df['Discount'].fillna(0)
#NDC_DCR_LIST_HIST_drop_fute_join_v1=NDC_DCR_LIST_HIST_drop_fute_join.fillna(0)

In [44]:
 f_merge_fudt_cudt_v1=f_merge_fudt_cudt.fillna(0)

In [45]:
f_merge_fudt_cudt_v1

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_V1,DCR_DRUG_LST_ID_V1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,5,2020-11-10,2024-09-03,10001.0,5.0
3,10001,7,2021-02-19,2024-09-03,10001.0,7.0
4,10001,8,2022-07-05,2024-09-03,10001.0,8.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,0.0,0.0
1862,10060,29,2021-04-07,2024-09-03,0.0,0.0
1863,10060,30,2022-04-20,2024-09-03,0.0,0.0
1864,10060,31,2021-04-03,2024-09-03,0.0,0.0
1865,10060,32,2022-09-01,2024-09-03,0.0,0.0

In [46]:
# filter only non_match to history table patient id values

In [47]:
f_merge_fudt_cudt_v1_non_match=f_merge_fudt_cudt_v1[f_merge_fudt_cudt_v1["NDC_NBR_V1"]==0]
f_merge_fudt_cudt_v1_non_match

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_V1,DCR_DRUG_LST_ID_V1
283,10013,37,2021-04-07,2024-09-03,0.0,0.0
829,10026,1,2022-09-01,2024-09-03,0.0,0.0
830,10026,2,2021-04-07,2024-09-03,0.0,0.0
831,10026,3,2021-02-19,2024-09-03,0.0,0.0
832,10026,4,2022-07-05,2024-09-03,0.0,0.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,0.0,0.0
1862,10060,29,2021-04-07,2024-09-03,0.0,0.0
1863,10060,30,2022-04-20,2024-09-03,0.0,0.0
1864,10060,31,2021-04-03,2024-09-03,0.0,0.0
1865,10060,32,2022-09-01,2024-09-03,0.0,0.0

In [48]:
# filter

In [49]:
ndc_nbr_id_filters=f_merge_fudt_cudt_v1_non_match['NDC_NBR'].to_list()

In [50]:
ndc_nbr_id_filters

[10013,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 ...]

In [51]:
from datetime import date
current_date=date.today()
print("current_date=",current_date)

current_date= 2023-09-13

In [52]:
import pandas as pd
newdf=pd.DataFrame([current_date,current_date],columns=['dates'])

In [53]:
newdf

        dates
0  2023-09-13
1  2023-09-13

In [54]:
newdf.dtypes

dates    object
dtype: object

In [55]:
# convert the 'Date' column to datetime format
newdf['dates']= pd.to_datetime(newdf['dates'])
 
# Check the format of 'Date' column
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [56]:
newdf.dtypes

dates    datetime64[ns]
dtype: object

In [57]:
newdf['dates'][0]

Timestamp('2023-09-13 00:00:00')

In [58]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt

In [59]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [60]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[1866 rows x 4 columns]

In [61]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'].astype('object')

C:\Users\hp\AppData\Local\Temp\ipykernel_11824\349057716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'].astype('object')

In [62]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE            DROP_DATE
0       10001                1  2021-05-23  2024-09-03 00:00:00
1       10001                2  2021-08-09  2024-09-03 00:00:00
4       10001                5  2020-11-10  2024-09-03 00:00:00
6       10001                7  2021-02-19  2024-09-03 00:00:00
7       10001                8  2022-07-05  2024-09-03 00:00:00
...       ...              ...         ...                  ...
2032    10060               28  2022-09-01  2024-09-03 00:00:00
2033    10060               29  2021-04-07  2024-09-03 00:00:00
2034    10060               30  2022-04-20  2024-09-03 00:00:00
2035    10060               31  2021-04-03  2024-09-03 00:00:00
2036    10060               32  2022-09-01  2024-09-03 00:00:00

[1866 rows x 4 columns]

In [63]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt.DROP_DATE.unique()

array([Timestamp('2024-09-03 00:00:00')], dtype=object)

In [64]:
# 2(a) step final output

In [65]:
import numpy as np

In [66]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=np.where(IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['NDC_NBR'].isin(ndc_nbr_id_filters),newdf['dates'][0],IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'])

C:\Users\hp\AppData\Local\Temp\ipykernel_11824\3454512828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=np.where(IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['NDC_NBR'].isin(ndc_nbr_id_filters),newdf['dates'][0],IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'])

In [67]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2023-09-13
2033    10060               29  2021-04-07 2023-09-13
2034    10060               30  2022-04-20 2023-09-13
2035    10060               31  2021-04-03 2023-09-13
2036    10060               32  2022-09-01 2023-09-13

[1866 rows x 4 columns]

In [68]:
###previous history table

In [69]:
                                   #*************************************

In [70]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2023-09-13
2033    10060               29  2021-04-07 2023-09-13
2034    10060               30  2022-04-20 2023-09-13
2035    10060               31  2021-04-03 2023-09-13
2036    10060               32  2022-09-01 2023-09-13

[1866 rows x 4 columns]

In [71]:
from datetime import date
today=date.today()
print(today)

2023-09-13

In [72]:
# Python program to get
# Yesterday's date


# Import date and timedelta class
# from datetime module
from datetime import date
from datetime import timedelta



# Yesterday date
bf_threedays = today - timedelta(days = 3)
print( bf_threedays)

2023-09-10

In [73]:
newdf1=pd.DataFrame([bf_threedays,bf_threedays],columns=['Date'])

In [74]:
# convert the 'Date' column to datetime format
newdf1['Date']= pd.to_datetime(newdf1['Date'])
 
# Check the format of 'Date' column
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [75]:
bf_threedays

datetime.date(2023, 9, 10)

In [76]:
newdf1['Date'][0]

Timestamp('2023-09-10 00:00:00')

In [77]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["future_drop_date"]=np.where((IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]=="2024-09-03") | (IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]<newdf1['Date'][0]),"Y","N")

C:\Users\hp\AppData\Local\Temp\ipykernel_11824\823218746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["future_drop_date"]=np.where((IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]=="2024-09-03") | (IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]<newdf1['Date'][0]),"Y","N")

In [78]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE future_drop_date
0       10001                1  2021-05-23 2024-09-03                Y
1       10001                2  2021-08-09 2024-09-03                Y
4       10001                5  2020-11-10 2024-09-03                Y
6       10001                7  2021-02-19 2024-09-03                Y
7       10001                8  2022-07-05 2024-09-03                Y
...       ...              ...         ...        ...              ...
2032    10060               28  2022-09-01 2023-09-13                N
2033    10060               29  2021-04-07 2023-09-13                N
2034    10060               30  2022-04-20 2023-09-13                N
2035    10060               31  2021-04-03 2023-09-13                N
2036    10060               32  2022-09-01 2023-09-13                N

[1866 rows x 5 columns]

In [79]:
# current_table

In [80]:
IW_MBRENG_WORKDB_NDC_DCR_LIST

      NDC_NBR_V1  DCR_DRUG_LST_ID_V1
0          10001                   1
1          10001                   2
2          10001                   3
3          10001                   4
4          10001                   5
...          ...                 ...
1014       10062                   6
1015       10062                   7
1016       10062                   8
1017       10062                   9
1018       10062                  10

[1019 rows x 2 columns]

In [81]:
# renaen a column names

In [82]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.columns=['NDC_NBR_v1','DCR_DRUG_LST_ID_v1']

In [83]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.columns

Index(['NDC_NBR_v1', 'DCR_DRUG_LST_ID_v1'], dtype='object')

In [84]:
# merge

In [85]:
merge=IW_MBRENG_WORKDB_NDC_DCR_LIST.merge(IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt,how="left",left_on=['NDC_NBR_v1', 'DCR_DRUG_LST_ID_v1'],right_on=['NDC_NBR','DCR_DRUG_LST_ID'])

In [86]:
merge

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,10001,1,10001.0,1.0,2021-05-23,2024-09-03,Y
1,10001,2,10001.0,2.0,2021-08-09,2024-09-03,Y
2,10001,3,NaN,NaN,NaT,NaT,NaN
3,10001,4,NaN,NaN,NaT,NaT,NaN
4,10001,5,10001.0,5.0,2020-11-10,2024-09-03,Y
...,...,...,...,...,...,...,...
1014,10062,6,NaN,NaN,NaT,NaT,NaN
1015,10062,7,NaN,NaN,NaT,NaT,NaN
1016,10062,8,NaN,NaN,NaT,NaT,NaN
1017,10062,9,NaN,NaN,NaT,NaT,NaN
1018,10062,10,NaN,NaN,NaT,NaT,NaN

In [87]:
 #f_merge_fudt_cudt_v1=f_merge_fudt_cudt.fillna(0)

In [88]:
merge_new=merge.fillna(0)

In [89]:
merge_new

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,10001,1,10001.0,1.0,2021-05-23 00:00:00,2024-09-03 00:00:00,Y
1,10001,2,10001.0,2.0,2021-08-09 00:00:00,2024-09-03 00:00:00,Y
2,10001,3,0.0,0.0,0,0,0
3,10001,4,0.0,0.0,0,0,0
4,10001,5,10001.0,5.0,2020-11-10 00:00:00,2024-09-03 00:00:00,Y
...,...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0,0
1015,10062,7,0.0,0.0,0,0,0
1016,10062,8,0.0,0.0,0,0,0
1017,10062,9,0.0,0.0,0,0,0
1018,10062,10,0.0,0.0,0,0,0

In [90]:
NDC_DCR_LIST_NEW=merge_new[merge_new["NDC_NBR"]==0]
NDC_DCR_LIST_NEW

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
2,10001,3,0.0,0.0,0,0,0
3,10001,4,0.0,0.0,0,0,0
5,10001,6,0.0,0.0,0,0,0
9,10001,10,0.0,0.0,0,0,0
13,10002,4,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0,0
1015,10062,7,0.0,0.0,0,0,0
1016,10062,8,0.0,0.0,0,0,0
1017,10062,9,0.0,0.0,0,0,0
1018,10062,10,0.0,0.0,0,0,0

In [91]:
NDC_DCR_LIST_NEW.NDC_NBR_v1.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10061, 10062], dtype=int64)

In [92]:
                    #****3b******************************

In [93]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
2       10001                3  2022-03-01 2022-07-05
3       10001                4  2020-01-20 2022-07-05
4       10001                5  2020-11-10 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[2037 rows x 4 columns]

In [94]:
IW_MBRENG_WORKDB_NDC_DCR_LIST

      NDC_NBR_v1  DCR_DRUG_LST_ID_v1
0          10001                   1
1          10001                   2
2          10001                   3
3          10001                   4
4          10001                   5
...          ...                 ...
1014       10062                   6
1015       10062                   7
1016       10062                   8
1017       10062                   9
1018       10062                  10

[1019 rows x 2 columns]

In [95]:
cu_his_merge=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.merge(IW_MBRENG_WORKDB_NDC_DCR_LIST,how="left",left_on=["NDC_NBR","DCR_DRUG_LST_ID"],right_on=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"])

In [96]:
cu_his_merge

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,3,2022-03-01,2022-07-05,10001.0,3.0
3,10001,4,2020-01-20,2022-07-05,10001.0,4.0
4,10001,5,2020-11-10,2024-09-03,10001.0,5.0
...,...,...,...,...,...,...
2032,10060,28,2022-09-01,2024-09-03,NaN,NaN
2033,10060,29,2021-04-07,2024-09-03,NaN,NaN
2034,10060,30,2022-04-20,2024-09-03,NaN,NaN
2035,10060,31,2021-04-03,2024-09-03,NaN,NaN
2036,10060,32,2022-09-01,2024-09-03,NaN,NaN

In [97]:
cu_his_merge.DROP_DATE.unique()

array(['2024-09-03T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [98]:
cu_his_merge.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE             datetime64[ns]
NDC_NBR_v1                   float64
DCR_DRUG_LST_ID_v1           float64
dtype: object

In [99]:
cu_his_merge_fil=cu_his_merge[cu_his_merge["DROP_DATE"]!="2024-09-03"]

In [100]:
cu_his_merge_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2022-03-01,2022-07-05,10001.0,3.0
3,10001,4,2020-01-20,2022-07-05,10001.0,4.0
5,10001,6,2020-07-22,2022-09-01,10001.0,6.0
9,10001,10,2021-08-15,2022-09-01,10001.0,10.0
13,10002,4,2021-04-07,2022-07-05,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2021-04-03,2022-04-20,10023.0,12.0
874,10023,16,2021-08-09,2022-07-05,10023.0,16.0
875,10023,17,2022-03-01,2022-04-20,10023.0,17.0
881,10023,23,2020-02-09,2022-04-20,10023.0,23.0
885,10023,27,2022-09-01,2022-07-05,10023.0,27.0

In [101]:
cu_his_merge_fil.DROP_DATE.unique()

array(['2022-07-05T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2022-03-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [102]:
future_date="2024-09-03"

In [103]:
#newdf_f=pd.DataFrame([future_date,future_date],columns=['Dates'])

In [104]:
future_date

'2024-09-03'

In [105]:
newdf_f=pd.DataFrame([future_date,future_date],columns=['Dates'])

In [106]:
# convert the 'Date' column to datetime format
newdf_f['Dates']= pd.to_datetime(newdf_f['Dates'])
 
# Check the format of 'Date' column
newdf_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [107]:
newdf_f['Dates'][0]

Timestamp('2024-09-03 00:00:00')

In [108]:
cu_his_merge_fil["DROP_DATE"]=np.where(cu_his_merge_fil["DROP_DATE"]!="2024-09-03",newdf_f['Dates'][0],cu_his_merge_fil["DROP_DATE"])

C:\Users\hp\AppData\Local\Temp\ipykernel_11824\2943586875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cu_his_merge_fil["DROP_DATE"]=np.where(cu_his_merge_fil["DROP_DATE"]!="2024-09-03",newdf_f['Dates'][0],cu_his_merge_fil["DROP_DATE"])

In [109]:
cu_his_merge_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2022-03-01,2024-09-03,10001.0,3.0
3,10001,4,2020-01-20,2024-09-03,10001.0,4.0
5,10001,6,2020-07-22,2024-09-03,10001.0,6.0
9,10001,10,2021-08-15,2024-09-03,10001.0,10.0
13,10002,4,2021-04-07,2024-09-03,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2021-04-03,2024-09-03,10023.0,12.0
874,10023,16,2021-08-09,2024-09-03,10023.0,16.0
875,10023,17,2022-03-01,2024-09-03,10023.0,17.0
881,10023,23,2020-02-09,2024-09-03,10023.0,23.0
885,10023,27,2022-09-01,2024-09-03,10023.0,27.0

In [110]:
cu_his_merge_fil.INSERT_DATE.unique()

array(['2022-03-01T00:00:00.000000000', '2020-01-20T00:00:00.000000000',
       '2020-07-22T00:00:00.000000000', '2021-08-15T00:00:00.000000000',
       '2021-04-07T00:00:00.000000000', '2020-07-15T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2021-02-19T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2020-02-09T00:00:00.000000000',
       '2021-04-03T00:00:00.000000000', '2020-11-10T00:00:00.000000000',
       '2021-05-23T00:00:00.000000000', '2021-08-09T00:00:00.000000000',
       '2022-07-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [111]:
# import current date function

In [112]:
from datetime import date
today=date.today()
print(today)

2023-09-13

In [113]:
today

datetime.date(2023, 9, 13)

In [114]:
newdf_cd=pd.DataFrame([today,today],columns=['date'])

In [115]:
# convert the 'Date' column to datetime format
newdf_cd['date']= pd.to_datetime(newdf_cd['date'])
 
# Check the format of 'Date' column
newdf_cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [116]:
newdf_cd['date'][0]

Timestamp('2023-09-13 00:00:00')

In [117]:
cu_his_merge_fil["INSERT_DATE"]=np.where(cu_his_merge_fil["INSERT_DATE"]!="2024-09-03",newdf_cd['date'][0],cu_his_merge_fil["INSERT_DATE"])

C:\Users\hp\AppData\Local\Temp\ipykernel_11824\3286469037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cu_his_merge_fil["INSERT_DATE"]=np.where(cu_his_merge_fil["INSERT_DATE"]!="2024-09-03",newdf_cd['date'][0],cu_his_merge_fil["INSERT_DATE"])

In [118]:
cu_his_merge_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2023-09-13,2024-09-03,10001.0,3.0
3,10001,4,2023-09-13,2024-09-03,10001.0,4.0
5,10001,6,2023-09-13,2024-09-03,10001.0,6.0
9,10001,10,2023-09-13,2024-09-03,10001.0,10.0
13,10002,4,2023-09-13,2024-09-03,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2023-09-13,2024-09-03,10023.0,12.0
874,10023,16,2023-09-13,2024-09-03,10023.0,16.0
875,10023,17,2023-09-13,2024-09-03,10023.0,17.0
881,10023,23,2023-09-13,2024-09-03,10023.0,23.0
885,10023,27,2023-09-13,2024-09-03,10023.0,27.0

In [119]:
                #************************  2 C *********************************

In [120]:
import pandas as pd
df_curr=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\task2_inputfiles.xlsx",sheet_name="NDC_DCR_LIST")
df_curr

      NDC_NBR  DCR_DRUG_LST_ID
0       10001                1
1       10001                2
2       10001                3
3       10001                4
4       10001                5
...       ...              ...
1014    10062                6
1015    10062                7
1016    10062                8
1017    10062                9
1018    10062               10

[1019 rows x 2 columns]

In [121]:
df_curr.columns=['NDC_NBR_v1','DCR_DRUG_LST_ID_v1']

In [122]:
df_curr.columns

Index(['NDC_NBR_v1', 'DCR_DRUG_LST_ID_v1'], dtype='object')

In [123]:
import pandas as pd
df_his=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\task2_inputfiles.xlsx",sheet_name="NDC_DCR_LIST_HIST")
df_his

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001              1.0  2021-05-23 2024-09-03
1       10001              2.0  2021-08-09 2024-09-03
2       10001              3.0  2022-03-01 2022-07-05
3       10001              4.0  2020-01-20 2022-07-05
4       10001              5.0  2020-11-10 2024-09-03
...       ...              ...         ...        ...
2032    10060             28.0  2022-09-01 2024-09-03
2033    10060             29.0  2021-04-07 2024-09-03
2034    10060             30.0  2022-04-20 2024-09-03
2035    10060             31.0  2021-04-03 2024-09-03
2036    10060             32.0  2022-09-01 2024-09-03

[2037 rows x 4 columns]

In [124]:
ndc_nbr_fil=df_his.NDC_NBR.unique()

In [125]:
ndc_nbr_fil

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027,
       10028, 10029, 10030, 10045, 10046, 10047, 10048, 10049, 10050,
       10051, 10052, 10053, 10054, 10055, 10056, 10057, 10058, 10059,
       10060], dtype=int64)

In [126]:
f_mefge=df_curr.merge(df_his,how="left",right_on=['NDC_NBR','DCR_DRUG_LST_ID'],left_on=['NDC_NBR_v1','DCR_DRUG_LST_ID_v1'])

C:\Users\hp\AppData\Local\Temp\ipykernel_11824\926953662.py:1: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  f_mefge=df_curr.merge(df_his,how="left",right_on=['NDC_NBR','DCR_DRUG_LST_ID'],left_on=['NDC_NBR_v1','DCR_DRUG_LST_ID_v1'])

In [127]:
f_mefge

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,10001.0,1.0,2021-05-23,2024-09-03
1,10001,2,10001.0,2.0,2021-08-09,2024-09-03
2,10001,3,10001.0,3.0,2022-03-01,2022-07-05
3,10001,4,10001.0,4.0,2020-01-20,2022-07-05
4,10001,5,10001.0,5.0,2020-11-10,2024-09-03
...,...,...,...,...,...,...
1014,10062,6,NaN,NaN,NaT,NaT
1015,10062,7,NaN,NaN,NaT,NaT
1016,10062,8,NaN,NaN,NaT,NaT
1017,10062,9,NaN,NaN,NaT,NaT
1018,10062,10,NaN,NaN,NaT,NaT

In [128]:
f_mefge_nan=f_mefge.fillna(0)

In [129]:
f_mefge_nan

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,10001.0,1.0,2021-05-23 00:00:00,2024-09-03 00:00:00
1,10001,2,10001.0,2.0,2021-08-09 00:00:00,2024-09-03 00:00:00
2,10001,3,10001.0,3.0,2022-03-01 00:00:00,2022-07-05 00:00:00
3,10001,4,10001.0,4.0,2020-01-20 00:00:00,2022-07-05 00:00:00
4,10001,5,10001.0,5.0,2020-11-10 00:00:00,2024-09-03 00:00:00
...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0
1015,10062,7,0.0,0.0,0,0
1016,10062,8,0.0,0.0,0,0
1017,10062,9,0.0,0.0,0,0
1018,10062,10,0.0,0.0,0,0

In [130]:
final=f_mefge_nan[f_mefge_nan['NDC_NBR']==0]

In [131]:
final

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
143,10007,7,0.0,0.0,0,0
323,10013,1,0.0,0.0,0,0
1000,10061,1,0.0,0.0,0,0
1001,10061,2,0.0,0.0,0,0
1002,10061,3,0.0,0.0,0,0
1003,10061,4,0.0,0.0,0,0
1004,10061,5,0.0,0.0,0,0
1005,10061,6,0.0,0.0,0,0
1006,10061,7,0.0,0.0,0,0
1007,10061,8,0.0,0.0,0,0
1008,10061,9,0.0,0.0,0,0
1009,10062,1,0.0,0.0,0,0
1010,10062,2,0.0,0.0,0,0
1011,10062,3,0.0,0.0,0,0
1012,10062,4,0.0,0.0,0,0
1013,10062,5,0.0,0.0,0,0
1014,10062,6,0.0,0.0,0,0
1015,10062,7,0.0,0.0,0,0
1016,10062,8,0.0,0.0,0,0
1017,10062,9,0.0,0.0,0,0
1018,10062,10,0.0,0.0,0,0

In [132]:
final.NDC_NBR_v1.unique()

array([10007, 10013, 10061, 10062], dtype=int64)

In [133]:
                      #********************  3 A  *******************

In [134]:
# import medical product table

In [135]:
import pandas as pd
df_medical_product=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\task2_inputfiles.xlsx",sheet_name="MEDICAL_PRODUCT_CURRENT")
df_medical_product

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,STRENGTH_MSR,END_EFF_DTE,SK_STC_CDE,SK_HICL_CDE,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,10280,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
1,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,10990,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y
2,10003,2021-09-04,CLONAZEPAM,1,NaN,G,17471,NaN,NaN,NaN,NaN,12/21/3000,3014,18940,CLONAZEPAM 1MG TABLET,NaN,NaN,Y
3,10004,2021-09-04,BUPIVACAINE HCL,0,NaN,A,48050,NaN,NaN,NaN,NaN,12/21/3000,2050,26080,BUPIVACAINE 0.25% VIAL,NaN,NaN,Y
4,10005,2021-09-04,INOSITOL,1,NaN,A,19757,NaN,NaN,NaN,NaN,12/21/3000,1040,25243,INOSITOL POWDER,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,NaN,12/21/3000,4055,12770,OMNIPAQUE 240MG/ML INFU BTL,NaN,NaN,Y
142,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,NaN,12/21/3000,2099,10280,NON ASPIRIN 500MG CAPSULE,NaN,NaN,Y
143,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,NaN,12/21/3000,8889,10990,NEXIUM 40MG CAPSULE,NaN,NaN,Y
144,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,18940,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
145,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,26080,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y

In [136]:
df_medical_product.PRODUCT_SERVICE_ID.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027,
       10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035, 10036,
       10037, 10038, 10039, 10040, 10041, 10042, 10043, 10044, 10045,
       10046, 10047, 10048, 10049, 10050, 10051, 10052, 10053, 10054,
       10055, 10056, 10057, 10058, 10059, 10060, 10061, 10062, 10063,
       10064, 10065, 10066, 10067, 10068, 10069, 10070, 10071, 10072,
       10073, 10074, 10075, 10076, 10077, 10078, 10079, 10080, 10081,
       10082, 10083, 10084, 10085, 10086, 10087, 10088, 10089, 10090,
       10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098, 10099,
       10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107, 10108,
       10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116, 10117,
       10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125, 10126,
       10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134, 10135,
       10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144,
       10145, 10146], dtype=int64)

In [137]:
# basic checks

In [138]:
df_medical_product.head()

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,STRENGTH_MSR,END_EFF_DTE,SK_STC_CDE,SK_HICL_CDE,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,10280,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
1,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,10990,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y
2,10003,2021-09-04,CLONAZEPAM,1,NaN,G,17471,NaN,NaN,NaN,NaN,12/21/3000,3014,18940,CLONAZEPAM 1MG TABLET,NaN,NaN,Y
3,10004,2021-09-04,BUPIVACAINE HCL,0,NaN,A,48050,NaN,NaN,NaN,NaN,12/21/3000,2050,26080,BUPIVACAINE 0.25% VIAL,NaN,NaN,Y
4,10005,2021-09-04,INOSITOL,1,NaN,A,19757,NaN,NaN,NaN,NaN,12/21/3000,1040,25243,INOSITOL POWDER,NaN,NaN,Y

In [139]:
df_medical_product.tail()

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,STRENGTH_MSR,END_EFF_DTE,SK_STC_CDE,SK_HICL_CDE,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE
141,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,NaN,12/21/3000,4055,12770,OMNIPAQUE 240MG/ML INFU BTL,NaN,NaN,Y
142,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,NaN,12/21/3000,2099,10280,NON ASPIRIN 500MG CAPSULE,NaN,NaN,Y
143,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,NaN,12/21/3000,8889,10990,NEXIUM 40MG CAPSULE,NaN,NaN,Y
144,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,18940,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
145,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,26080,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y

In [140]:
df_medical_product.shape

(146, 18)

In [141]:
df_medical_product.columns

Index(['PRODUCT_SERVICE_ID', 'EFF_DTE', 'BRAND_NME', 'MAINTENANCE_DRUG_CDE',
       'SPECIALTY_PHCY_IND', 'DRUG_SUBSTITUTION_CDE', 'GCN_NBR',
       'STRENGTH_DSC', 'DOSAGE_FORM_CDE', 'MULTI_SRC_CDE', 'STRENGTH_MSR',
       'END_EFF_DTE', 'SK_STC_CDE', 'SK_HICL_CDE', 'LABLE_TXT',
       'MEDCO_DRUG_NBR', 'DEA_CDE', 'LONGTERM_ACUTE'],
      dtype='object')

In [142]:
# import new list table

In [143]:
NDC_DCR_LIST_NEW

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
2,10001,3,0.0,0.0,0,0,0
3,10001,4,0.0,0.0,0,0,0
5,10001,6,0.0,0.0,0,0,0
9,10001,10,0.0,0.0,0,0,0
13,10002,4,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0,0
1015,10062,7,0.0,0.0,0,0,0
1016,10062,8,0.0,0.0,0,0,0
1017,10062,9,0.0,0.0,0,0,0
1018,10062,10,0.0,0.0,0,0,0

In [144]:
# merge  base= medical product and child= list new table

In [145]:
MPC_WORK=df_medical_product.merge(NDC_DCR_LIST_NEW,how="left",left_on="PRODUCT_SERVICE_ID",right_on='NDC_NBR_v1')

In [146]:
MPC_WORK.columns

Index(['PRODUCT_SERVICE_ID', 'EFF_DTE', 'BRAND_NME', 'MAINTENANCE_DRUG_CDE',
       'SPECIALTY_PHCY_IND', 'DRUG_SUBSTITUTION_CDE', 'GCN_NBR',
       'STRENGTH_DSC', 'DOSAGE_FORM_CDE', 'MULTI_SRC_CDE', 'STRENGTH_MSR',
       'END_EFF_DTE', 'SK_STC_CDE', 'SK_HICL_CDE', 'LABLE_TXT',
       'MEDCO_DRUG_NBR', 'DEA_CDE', 'LONGTERM_ACUTE', 'NDC_NBR_v1',
       'DCR_DRUG_LST_ID_v1', 'NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE',
       'DROP_DATE', 'future_drop_date'],
      dtype='object')

In [147]:
MPC_WORK.LABLE_TXT.unique()

array(['CAPTOPRIL 50MG TABLET', 'SUPERMAN EXTRA C CHEWABLE',
       'CLONAZEPAM 1MG TABLET', 'BUPIVACAINE 0.25% VIAL',
       'INOSITOL POWDER', 'NYSTATIN 100000U/GM CREAM',
       'OMNIPAQUE 240MG/ML INFU BTL', 'NON ASPIRIN 500MG CAPSULE',
       'NEXIUM 40MG CAPSULE'], dtype=object)

In [148]:
MPC_WORK.SK_HICL_CDE.unique()

array([10280, 10990, 18940, 26080, 25243, 43380, 13409, 21607, 12770],
      dtype=int64)

In [149]:
MPC_WORK.END_EFF_DTE.unique()

array(['12/21/3000'], dtype=object)

In [150]:
MPC_WORK

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,...,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,3.0,0.0,0.0,0,0,0
1,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,4.0,0.0,0.0,0,0,0
2,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,6.0,0.0,0.0,0,0,0
3,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,10.0,0.0,0.0,0,0,0
4,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,...,NaN,NaN,Y,10002.0,4.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
MPC_WORK.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [152]:
MPC_WORK.columns

Index(['PRODUCT_SERVICE_ID', 'EFF_DTE', 'BRAND_NME', 'MAINTENANCE_DRUG_CDE',
       'SPECIALTY_PHCY_IND', 'DRUG_SUBSTITUTION_CDE', 'GCN_NBR',
       'STRENGTH_DSC', 'DOSAGE_FORM_CDE', 'MULTI_SRC_CDE', 'STRENGTH_MSR',
       'END_EFF_DTE', 'SK_STC_CDE', 'SK_HICL_CDE', 'LABLE_TXT',
       'MEDCO_DRUG_NBR', 'DEA_CDE', 'LONGTERM_ACUTE', 'NDC_NBR_v1',
       'DCR_DRUG_LST_ID_v1', 'NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE',
       'DROP_DATE', 'future_drop_date'],
      dtype='object')

In [153]:
MPC_WORK.PRODUCT_SERVICE_ID.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027,
       10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035, 10036,
       10037, 10038, 10039, 10040, 10041, 10042, 10043, 10044, 10045,
       10046, 10047, 10048, 10049, 10050, 10051, 10052, 10053, 10054,
       10055, 10056, 10057, 10058, 10059, 10060, 10061, 10062, 10063,
       10064, 10065, 10066, 10067, 10068, 10069, 10070, 10071, 10072,
       10073, 10074, 10075, 10076, 10077, 10078, 10079, 10080, 10081,
       10082, 10083, 10084, 10085, 10086, 10087, 10088, 10089, 10090,
       10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098, 10099,
       10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107, 10108,
       10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116, 10117,
       10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125, 10126,
       10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134, 10135,
       10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144,
       10145, 10146], dtype=int64)

In [154]:
                      # ***************************************************

In [155]:
oth_table=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\oth_table_001.xlsx")
oth_table

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,COPAY_COST_TIER_SEQ,FILL_DRUG_FORMULARY_IND,MAIL_SERVICE_RX_SRC_CDE,MAIL_SERVICE_RX_NBR,PHCY_PRODUCT_SERVICE_ID,ELIG_GROUP_OPERATIONAL_ID,Billing_DAW_cde,Bill_product_service_id,EXTERNAL_SRC_IND,RX_COMPOUND_IND
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0,Y,NaN,0,10001,VERN045,0,1.431201e+08,N,N
1,UFTWFINSERVICE,117364036,NaN,131.792.134,4370,UFTWFINS,100.703.936.212.167.210,NaN,5,31,...,0,N,NaN,0,10002,UFTWFINSERVICE,0,7.422741e+07,N,N
2,VERS007,116700403601,NaN,20.118.415,2368,26629,13.308.256.336.582.211,NaN,25,31,...,0,Y,NaN,632709874,10003,VERS007,0,6.942207e+07,N,N
3,UFTWFINSERVICE,128733635,NaN,16.768.410,4370,UFTWFINS,357.973.606.969.067.210,NaN,3,31,...,0,N,NaN,0,10004,UFTWFINSERVICE,0,4.060360e+08,N,N
4,UFTWFINSERVICE,753660753,NaN,16.822.938,4370,UFTWFINS,147.823.636.279.067.210,NaN,7,31,...,0,N,NaN,0,10005,UFTWFINSERVICE,0,1.727404e+08,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,BSX3EXXXXXXX,527356605,NaN,268.242.253,2368,BPOS3834,482.888.338.024.532.000,NaN,16,39,...,2,Y,NaN,0,10219,BSX3EXXXXXXX,0,5.180648e+10,N,N
219,BSX3EXXXXXXX,527356605,NaN,268.242.253,4370,40920,318.195.621.277.260.000,NaN,17,39,...,1,N,NaN,0,10220,BSX3EXXXXXXX,0,5.249416e+10,N,N
220,VERN045,769183805,NaN,273.129.364,2368,UFTWFINS,889.735.264.579.235.901,NaN,36,39,...,0,Y,NaN,0,10221,VERN045,0,5.318184e+10,N,N
221,UFTWFINSERVICE,667747966,NaN,268.242.253,4370,26629,262.130.265.501.677.111,NaN,45,39,...,0,N,NaN,0,10222,UFTWFINSERVICE,0,5.386952e+10,N,N
222,VERS007,667747966,NaN,268.242.253,4370,UFTWFINS,357.973.606.969.067.210,NaN,54,39,...,0,N,NaN,0,10223,VERS007,0,5.455720e+10,N,N

In [156]:
oth_table.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,COPAY_COST_TIER_SEQ,FILL_DRUG_FORMULARY_IND,MAIL_SERVICE_RX_SRC_CDE,MAIL_SERVICE_RX_NBR,PHCY_PRODUCT_SERVICE_ID,ELIG_GROUP_OPERATIONAL_ID,Billing_DAW_cde,Bill_product_service_id,EXTERNAL_SRC_IND,RX_COMPOUND_IND
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0,Y,NaN,0,10001,VERN045,0,143120101.0,N,N
1,UFTWFINSERVICE,117364036,NaN,131.792.134,4370,UFTWFINS,100.703.936.212.167.210,NaN,5,31,...,0,N,NaN,0,10002,UFTWFINSERVICE,0,74227414.0,N,N
2,VERS007,116700403601,NaN,20.118.415,2368,26629,13.308.256.336.582.211,NaN,25,31,...,0,Y,NaN,632709874,10003,VERS007,0,69422066.0,N,N
3,UFTWFINSERVICE,128733635,NaN,16.768.410,4370,UFTWFINS,357.973.606.969.067.210,NaN,3,31,...,0,N,NaN,0,10004,UFTWFINSERVICE,0,406036005.0,N,N
4,UFTWFINSERVICE,753660753,NaN,16.822.938,4370,UFTWFINS,147.823.636.279.067.210,NaN,7,31,...,0,N,NaN,0,10005,UFTWFINSERVICE,0,172740442.0,N,N

In [157]:
oth_table.tail()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,COPAY_COST_TIER_SEQ,FILL_DRUG_FORMULARY_IND,MAIL_SERVICE_RX_SRC_CDE,MAIL_SERVICE_RX_NBR,PHCY_PRODUCT_SERVICE_ID,ELIG_GROUP_OPERATIONAL_ID,Billing_DAW_cde,Bill_product_service_id,EXTERNAL_SRC_IND,RX_COMPOUND_IND
218,BSX3EXXXXXXX,527356605,NaN,268.242.253,2368,BPOS3834,482.888.338.024.532.000,NaN,16,39,...,2,Y,NaN,0,10219,BSX3EXXXXXXX,0,5.180648e+10,N,N
219,BSX3EXXXXXXX,527356605,NaN,268.242.253,4370,40920,318.195.621.277.260.000,NaN,17,39,...,1,N,NaN,0,10220,BSX3EXXXXXXX,0,5.249416e+10,N,N
220,VERN045,769183805,NaN,273.129.364,2368,UFTWFINS,889.735.264.579.235.901,NaN,36,39,...,0,Y,NaN,0,10221,VERN045,0,5.318184e+10,N,N
221,UFTWFINSERVICE,667747966,NaN,268.242.253,4370,26629,262.130.265.501.677.111,NaN,45,39,...,0,N,NaN,0,10222,UFTWFINSERVICE,0,5.386952e+10,N,N
222,VERS007,667747966,NaN,268.242.253,4370,UFTWFINS,357.973.606.969.067.210,NaN,54,39,...,0,N,NaN,0,10223,VERS007,0,5.455720e+10,N,N

In [158]:
oth_table.columns

Index(['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PHCY_CLAIM_ID', 'PHCY_RX_NBR', 'FILL_DAYS_SUPPLY_QTY',
       'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE', 'SERVICED_DTE',
       'COPAY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR',
       'PHCY_PRODUCT_SERVICE_ID', ' ELIG_GROUP_OPERATIONAL_ID',
       'Billing_DAW_cde', 'Bill_product_service_id', 'EXTERNAL_SRC_IND',
       'RX_COMPOUND_IND'],
      dtype='object')

In [159]:
# rename a column name

In [160]:
#df.rename(columns = {"Name": "Names"}, inplace = True)

In [161]:
oth_table.rename(columns = {"PHCY_PRODUCT_SERVICE_ID" : "PRODUCT_SERVICE_ID"},inplace = True)

In [162]:
oth_table.columns

Index(['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PHCY_CLAIM_ID', 'PHCY_RX_NBR', 'FILL_DAYS_SUPPLY_QTY',
       'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE', 'SERVICED_DTE',
       'COPAY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR', 'PRODUCT_SERVICE_ID',
       ' ELIG_GROUP_OPERATIONAL_ID', 'Billing_DAW_cde',
       'Bill_product_service_id', 'EXTERNAL_SRC_IND', 'RX_COMPOUND_IND'],
      dtype='object')

In [163]:
oth_table.shape

(223, 22)

In [164]:
MPC_WORK.columns

Index(['PRODUCT_SERVICE_ID', 'EFF_DTE', 'BRAND_NME', 'MAINTENANCE_DRUG_CDE',
       'SPECIALTY_PHCY_IND', 'DRUG_SUBSTITUTION_CDE', 'GCN_NBR',
       'STRENGTH_DSC', 'DOSAGE_FORM_CDE', 'MULTI_SRC_CDE', 'STRENGTH_MSR',
       'END_EFF_DTE', 'SK_STC_CDE', 'SK_HICL_CDE', 'LABLE_TXT',
       'MEDCO_DRUG_NBR', 'DEA_CDE', 'LONGTERM_ACUTE', 'NDC_NBR_v1',
       'DCR_DRUG_LST_ID_v1', 'NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE',
       'DROP_DATE', 'future_drop_date'],
      dtype='object')

In [165]:
MPC_WORK.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [166]:
MPC_WORK

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,...,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,3.0,0.0,0.0,0,0,0
1,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,4.0,0.0,0.0,0,0,0
2,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,6.0,0.0,0.0,0,0,0
3,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,10.0,0.0,0.0,0,0,0
4,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,...,NaN,NaN,Y,10002.0,4.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
oth_mpc_work_merge=oth_table.merge(MPC_WORK,on=['PRODUCT_SERVICE_ID'],how='inner')

In [168]:
oth_mpc_work_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,Y,10001.0,3.0,0.0,0.0,0,0,0
1,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,Y,10001.0,4.0,0.0,0.0,0,0,0
2,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,Y,10001.0,6.0,0.0,0.0,0,0,0
3,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,Y,10001.0,10.0,0.0,0.0,0,0,0
4,UFTWFINSERVICE,117364036,NaN,131.792.134,4370,UFTWFINS,100.703.936.212.167.210,NaN,5,31,...,NaN,NaN,Y,10002.0,4.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,UFTWFINSERVICE,117364036,NaN,131.792.134,2368,UFTWFINS,100.703.936.212.167.210,NaN,28,36,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,VERS007,116700403601,NaN,20.118.415,4370,26629,13.308.256.336.582.211,NaN,16,36,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,UFTWFINSERVICE,128733635,NaN,16.768.410,2368,UFTWFINS,357.973.606.969.067.210,NaN,17,36,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,UFTWFINSERVICE,753660753,NaN,16.822.938,4370,UFTWFINS,147.823.636.279.067.210,NaN,36,36,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,UFTWFINSERVICE,769183805,NaN,459.913.143,4370,UFTWFINS,736.373.026.879.067.210,NaN,45,36,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
oth_mpc_work_merge.columns

Index(['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PHCY_CLAIM_ID', 'PHCY_RX_NBR', 'FILL_DAYS_SUPPLY_QTY',
       'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE', 'SERVICED_DTE',
       'COPAY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR', 'PRODUCT_SERVICE_ID',
       ' ELIG_GROUP_OPERATIONAL_ID', 'Billing_DAW_cde',
       'Bill_product_service_id', 'EXTERNAL_SRC_IND', 'RX_COMPOUND_IND',
       'EFF_DTE', 'BRAND_NME', 'MAINTENANCE_DRUG_CDE', 'SPECIALTY_PHCY_IND',
       'DRUG_SUBSTITUTION_CDE', 'GCN_NBR', 'STRENGTH_DSC', 'DOSAGE_FORM_CDE',
       'MULTI_SRC_CDE', 'STRENGTH_MSR', 'END_EFF_DTE', 'SK_STC_CDE',
       'SK_HICL_CDE', 'LABLE_TXT', 'MEDCO_DRUG_NBR', 'DEA_CDE',
       'LONGTERM_ACUTE', 'NDC_NBR_v1', 'DCR_DRUG_LST_ID_v1', 'NDC_NBR',
       'DCR_DRUG_LST_ID', 'INSERT_DATE', 'DROP_DATE', 'future_drop_date'],
      dtype='object')

In [170]:
oth_mpc_work_merge["widget_flag"]=''

In [171]:
oth_mpc_work_merge["widget_flag"]=np.where(oth_mpc_work_merge['LONGTERM_ACUTE']=="Y","N",oth_mpc_work_merge["widget_flag"])

In [172]:
oth_mpc_work_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date,widget_flag
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,3.0,0.0,0.0,0,0,0,N
1,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,4.0,0.0,0.0,0,0,0,N
2,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,6.0,0.0,0.0,0,0,0,N
3,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,10.0,0.0,0.0,0,0,0,N
4,UFTWFINSERVICE,117364036,NaN,131.792.134,4370,UFTWFINS,100.703.936.212.167.210,NaN,5,31,...,NaN,Y,10002.0,4.0,0.0,0.0,0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,UFTWFINSERVICE,117364036,NaN,131.792.134,2368,UFTWFINS,100.703.936.212.167.210,NaN,28,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
308,VERS007,116700403601,NaN,20.118.415,4370,26629,13.308.256.336.582.211,NaN,16,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
309,UFTWFINSERVICE,128733635,NaN,16.768.410,2368,UFTWFINS,357.973.606.969.067.210,NaN,17,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
310,UFTWFINSERVICE,753660753,NaN,16.822.938,4370,UFTWFINS,147.823.636.279.067.210,NaN,36,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
311,UFTWFINSERVICE,769183805,NaN,459.913.143,4370,UFTWFINS,736.373.026.879.067.210,NaN,45,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [173]:
oth_mpc_work_merge.SPECIALTY_PHCY_IND.unique()

array([nan])

In [174]:
new_date=newdf["dates"][0]-timedelta(days = 180)
new_date

Timestamp('2023-03-17 00:00:00')

In [175]:
lst=['31','36']

In [176]:
oth_mpc_fil=oth_mpc_work_merge[oth_mpc_work_merge["TRANSACTION_TYPE_CDE"].isin(['31','36'])]

In [177]:
oth_mpc_fil.TRANSACTION_TYPE_CDE.unique()

array([], dtype=int64)

In [178]:
oth_mpc_fil=oth_mpc_work_merge[oth_mpc_work_merge["LONGTERM_ACUTE"]=="Y"]

In [179]:
oth_mpc_fil.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [180]:
oth_mpc_fil=oth_mpc_work_merge[oth_mpc_work_merge["EXTERNAL_SRC_IND"]=="N"]

In [181]:
oth_mpc_fil.EXTERNAL_SRC_IND.unique()

array(['N'], dtype=object)

In [182]:
oth_mpc_fil.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [183]:
oth_mpc_fil=oth_mpc_work_merge[oth_mpc_work_merge["SERVICED_DTE"]>new_date]

In [184]:
oth_mpc_fil.SERVICED_DTE.unique()

array(['2023-12-31T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2023-08-26T00:00:00.000000000', '2024-01-10T00:00:00.000000000',
       '2024-01-19T00:00:00.000000000', '2024-01-23T00:00:00.000000000',
       '2023-08-27T00:00:00.000000000', '2023-08-28T00:00:00.000000000',
       '2023-08-29T00:00:00.000000000', '2023-08-30T00:00:00.000000000',
       '2023-08-31T00:00:00.000000000', '2023-09-01T00:00:00.000000000',
       '2023-09-02T00:00:00.000000000', '2023-09-03T00:00:00.000000000',
       '2023-09-04T00:00:00.000000000'], dtype='datetime64[ns]')

In [185]:
oth_mpc_fil=oth_mpc_work_merge[oth_mpc_work_merge["RX_COMPOUND_IND"]!="Y"]

In [186]:
oth_mpc_fil.RX_COMPOUND_IND.unique()

array(['N'], dtype=object)

In [187]:
oth_mpc_fil=oth_mpc_work_merge[((oth_mpc_work_merge["FILL_DAYS_SUPPLY_QTY"]>14)
                     & (oth_mpc_work_merge["MAINTENANCE_DRUG_CDE"] == 1) | (oth_mpc_work_merge["SPECIALTY_PHCY_IND"]==1))
                  | (oth_mpc_work_merge["LONGTERM_ACUTE"] == "Y")]

In [188]:
oth_mpc_fil.FILL_DAYS_SUPPLY_QTY.unique()

array([30,  5, 25,  3,  7, 90, 31, 28, 16, 17, 36, 45, 54, 12, 34, 20, 18],
      dtype=int64)

In [189]:
oth_mpc_fil.MAINTENANCE_DRUG_CDE.unique()

array([1, 0], dtype=int64)

In [190]:
oth_mpc_fil.SPECIALTY_PHCY_IND.unique()

array([nan])

In [191]:
oth_mpc_fil.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [192]:
oth_mpc_fil=oth_mpc_work_merge[(oth_mpc_work_merge["TRANSACTION_TYPE_CDE"].isin(lst))
                & (oth_mpc_work_merge["EXTERNAL_SRC_IND"] == "N")
                 & (oth_mpc_work_merge["SERVICED_DTE"]>new_date)
                 & (oth_mpc_work_merge["RX_COMPOUND_IND"] != "Y")
                  & ((oth_mpc_work_merge["FILL_DAYS_SUPPLY_QTY"]>14)
                     & (oth_mpc_work_merge["MAINTENANCE_DRUG_CDE"] == 1) | (oth_mpc_work_merge["SPECIALTY_PHCY_IND"]==1))
                  | (oth_mpc_work_merge["LONGTERM_ACUTE"] == "Y")]

In [193]:
oth_mpc_fil

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date,widget_flag
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,3.0,0.0,0.0,0,0,0,N
1,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,4.0,0.0,0.0,0,0,0,N
2,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,6.0,0.0,0.0,0,0,0,N
3,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,Y,10001.0,10.0,0.0,0.0,0,0,0,N
4,UFTWFINSERVICE,117364036,NaN,131.792.134,4370,UFTWFINS,100.703.936.212.167.210,NaN,5,31,...,NaN,Y,10002.0,4.0,0.0,0.0,0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,UFTWFINSERVICE,117364036,NaN,131.792.134,2368,UFTWFINS,100.703.936.212.167.210,NaN,28,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
308,VERS007,116700403601,NaN,20.118.415,4370,26629,13.308.256.336.582.211,NaN,16,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
309,UFTWFINSERVICE,128733635,NaN,16.768.410,2368,UFTWFINS,357.973.606.969.067.210,NaN,17,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
310,UFTWFINSERVICE,753660753,NaN,16.822.938,4370,UFTWFINS,147.823.636.279.067.210,NaN,36,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
311,UFTWFINSERVICE,769183805,NaN,459.913.143,4370,UFTWFINS,736.373.026.879.067.210,NaN,45,36,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [194]:
oth_mpc_fil.EXTERNAL_SRC_IND.unique()

array(['N', 'Y'], dtype=object)

In [195]:
oth_mpc_fil.RX_COMPOUND_IND.unique()

array(['N', 'Y'], dtype=object)

In [ ]:
UHG_TABLE

In [234]:
UHG_COL=['ADJUD_GROUP_OPERATIONAL_ID','CLIENT_MEMBERSHIP_ID','PERSON_NBR','PATIENT_ID','CARRIER_OPERATIONAL_ID','CONTRACT_OPERATIONAL_ID','PHCY_PRODUCT_SERVICE_ID','PHCY_CLAIM_ID','PHCY_RX_NBR','FILL_DAYS_SUPPLY_QTY','TRANSACTION_TYPE_CDE','MAIL_RETAIL_CDE','SERVICED_DTE','COPAY_COST_TIER_SEQ','FILL_DRUG_FORMULARY_IND','MAIL_SERVICE_RX_SRC_CDE','MAIL_SERVICE_RX_NBR','COPAY_PRICING_SUB_OPTION_NBR','DRUG_SUBSTITUTION_TYPE_CDE','INTERVENTION_RULE_ID','CLIENT_GUARANTEE_CDE','MAIL_PRODUCT_SERVICE_ID','UMBRELLA_PRODUCT_ID','UMBRELLA_PRODUCT_SRC_CDE','ELIG_GROUP_OPERATIONAL_ID','MAIL_PHCY_CDE','MAIL_PHCY_FILL_NBR','PHCY_ACCOUNT_NBR','DEA_CDE','FILL_PHCY_PROVIDER_ID','FILL_PHCY_PROVIDER_SRC_CDE','PRESCRIBER_PROVIDER_ID','PRESCRIBER_PROVIDER_SRC_CDE','SERVICE_MSG_PRODUCT_ID','SERVICE_MSG_PRODUCT_SRC_CDE','BILLING_DAW_CDE','BIL_PRODUCT_SERVICE_ID']

In [235]:
len(UHG_COL)

37

In [ ]:
#UHG_TABLE.columns=UHG_COL

In [222]:
UHG_TABLE.shape

(216, 38)

In [233]:
UHG_TABLE.columns

Index(['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PHCY_PRODUCT_SERVICE_ID', 'PHCY_CLAIM_ID', 'PHCY_RX_NBR',
       'FILL_DAYS_SUPPLY_QTY', 'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE',
       'SERVICED_DTE', 'COPY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR',
       'ELIG_GROUP_OPERATIONAL_ID', 'BILLING_DAW_CODE',
       'BIL_PRODUCT_SERVICE_ID', 'EXTERNAL_SRC_IND', 'RX_COMPOUND_ID',
       'COPAY_PRICING_SUB_OPTION_NBR', 'DRUG_SUBSTITUTION_TYPE_CDE',
       'INTERVENTION_RULE_ID', 'CLIENT_GUARANTEE_CDE',
       'MAIL_PRODUCT_SERVICE_ID', 'UMBRELLA_PRODUCT_ID',
       'UMBRELLA_PRODUCT_SRC_CDE', 'MAIL_PHCY_CDE', 'MAIL_PHCY_FILL_NBR',
       'PHCY_ACCOUNT_NBR', 'DEA_CDE', 'FILL_PHCY_PROVIDER_ID',
       'FILL_PHCY_PROVIDER_SRC_CDE', 'PRESCRIBER_PROVIDER_ID',
       'PRESCRIBER_PROVIDER_SRC_CDE', 'SERVICE_MSG_PRODUCT_ID',
       'SERVICE_MSG_PRODUCT_SRC_CDE'],
      dtype='object')

In [231]:
import pandas as pd
UHG_TABLE=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\UHG_Table.xlsx")

In [232]:
UHG_TABLE

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MAIL_PHCY_CDE,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,FILL_PHCY_PROVIDER_ID,FILL_PHCY_PROVIDER_SRC_CDE,PRESCRIBER_PROVIDER_ID,PRESCRIBER_PROVIDER_SRC_CDE,SERVICE_MSG_PRODUCT_ID,SERVICE_MSG_PRODUCT_SRC_CDE
0,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,378262510,766.060.379.155.202.910,331595,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UHGMSP82069,671329696,1,252.081.172,1996,UHA00399,555901858,917.856.312.813.572.100,7301639,-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UHGMSP82069,671329696,1,252.081.172,1996,UHA00399,555901858,419.978.657.472.550.100,7301639,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U70543701090109,664842223,1,163.124.689,1996,U0706437,64679096401,337.406.164.497.889.930,6120141,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U71021200020002,666408414,2,280.508.046,1995,UHG26515,65597010430,765.017.862.336.352.500,412038,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,U71544700030003,661356794,2,181.773.646,1996,UHGNUSN1,59148000813,276.910.027.571.417.420,2083531,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,U71544700030003,661356794,2,181.773.646,1996,UHGNUSN1,378700501,620.882.576.952.113.220,3443918,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,U70447000750075,167953739,1,289.412.921,1996,U0704470,310075190,491.166.774.818.620.630,1118065,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,U70447000750075,167953739,1,289.412.921,1996,U0704470,78055915,795.576.172.637.918.230,1862154,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,U18515601200120,661019394,1,265.368.023,1996,UHGNUSN1,68382003010,495.054.065.838.957.730,2959470,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# bwp table

In [223]:
import pandas as pd
df_bwp=pd.read_excel(r"C:\jaya sri\Project_task-002\data files\oth_table_001.xlsx",sheet_name="BWP_table")

In [224]:
df_bwp

Empty DataFrame
Columns: [ADJUD_GROUP_OPERATIONAL_ID, CLIENT_MEMBERSHIP_ID, PERSON_NBR, PATIENT_ID, CARRIER_OPERATIONAL_ID, CONTRACT_OPERATIONAL_ID, PHCY_PRODUCT_SERVICE_ID, PHCY_CLAIM_ID, PHCY_RX_NBR, FILL_DAYS_SUPPLY_QTY, TRANSACTION_TYPE_CDE, MAIL_RETAIL_CDE, SERVICED_DTE, COPAY_COST_TIER_SEQ, FILL_DRUG_FORMULARY_IND, MAIL_SERVICE_RX_SRC_CDE, MAIL_SERVICE_RX_NBR, COPAY_PRICING_SUB_OPTION_NBR, SUBMISSION_TYPE_CDE, INTERVENTION_RULE_ID, CLIENT_GUARANTEE_CDE, MAIL_PRODUCT_SERVICE_ID, UMBRELLA_PRODUCT_ID, UMBRELLA_PRODUCT_SRC_CDE,  ELIG_GROUP_OPERATIONAL_ID, MAIL_PHCY_CDE, MAIL_PHCY_FILL_NBR, PHCY_ACCOUNT_NBR, DEA_CDE, FILL_PHCY_PROVIDER_ID, FILL_PHCY_PROVIDER_SRC_CDE, PRESCRIBER_PROVIDER_ID, PRESCRIBER_PROVIDER_SRC_CDE, SERVICE_MSG_PRODUCT_ID, SERVICE_MSG_PRODUCT_SRC_CDE, BILLING_DAW_CDE, BIL_PRODUCT_SERVICE_ID]
Index: []

[0 rows x 37 columns]

In [225]:
df_bwp.columns

Index(['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PHCY_PRODUCT_SERVICE_ID', 'PHCY_CLAIM_ID', 'PHCY_RX_NBR',
       'FILL_DAYS_SUPPLY_QTY', 'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE',
       'SERVICED_DTE', 'COPAY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR',
       'COPAY_PRICING_SUB_OPTION_NBR', 'SUBMISSION_TYPE_CDE',
       'INTERVENTION_RULE_ID', 'CLIENT_GUARANTEE_CDE',
       'MAIL_PRODUCT_SERVICE_ID', 'UMBRELLA_PRODUCT_ID',
       'UMBRELLA_PRODUCT_SRC_CDE', ' ELIG_GROUP_OPERATIONAL_ID',
       'MAIL_PHCY_CDE', 'MAIL_PHCY_FILL_NBR', 'PHCY_ACCOUNT_NBR', 'DEA_CDE',
       'FILL_PHCY_PROVIDER_ID', 'FILL_PHCY_PROVIDER_SRC_CDE',
       'PRESCRIBER_PROVIDER_ID', 'PRESCRIBER_PROVIDER_SRC_CDE',
       'SERVICE_MSG_PRODUCT_ID', 'SERVICE_MSG_PRODUCT_SRC_CDE',
       'BILLING_DAW_CDE', 'BIL_PRODUCT_SERVICE_ID'],
      dtype='object')

In [226]:
df_bwp.shape

(0, 37)

In [230]:
len(BWP_COL)

37

In [229]:
BWP_COL=['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PHCY_PRODUCT_SERVICE_ID', 'PHCY_CLAIM_ID', 'PHCY_RX_NBR',
       'FILL_DAYS_SUPPLY_QTY', 'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE',
       'SERVICED_DTE', 'COPAY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR',
         'COPAY_PRICING_SUB_OPTION_NBR',
        'SUBMISSION_TYPE_CDE','INTERVENTION_RULE_ID',
         'CLIENT_GUARANTEE_CDE','MAIL_PRODUCT_SERVICE_ID',
         'UMBRELLA_PRODUCT_ID','UMBRELLA_PRODUCT_SRC_CDE',
         'ELIG_GROUP_OPERATIONAL_ID',
       'MAIL_PHCY_CDE','MAIL_PHCY_FILL_NBR','PHCY_ACCOUNT_NBR','DEA_CDE', 
         'FILL_PHCY_PROVIDER_ID', 
         'FILL_PHCY_PROVIDER_SRC_CDE',
       'PRESCRIBER_PROVIDER_ID', 'PRESCRIBER_PROVIDER_SRC_CDE',
         'SERVICE_MSG_PRODUCT_ID',
         'SERVICE_MSG_PRODUCT_SRC_CDE',
       'BILLING_DAW_CDE', 'BIL_PRODUCT_SERVICE_ID']