In [1]:
# import curret table

In [2]:
import pandas as pd
IW_MBRENG_WORKDB_NDC_DCR_LIST=pd.read_excel(r"C:\jaya sri\PROJECT\data files\task2_inputfiles.xlsx",sheet_name="NDC_DCR_LIST")
IW_MBRENG_WORKDB_NDC_DCR_LIST

      NDC_NBR  DCR_DRUG_LST_ID
0       10001                1
1       10001                2
2       10001                3
3       10001                4
4       10001                5
...       ...              ...
1014    10062                6
1015    10062                7
1016    10062                8
1017    10062                9
1018    10062               10

[1019 rows x 2 columns]

In [3]:
# basic checks

In [4]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.shape

(1019, 2)

In [5]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.dtypes

NDC_NBR            int64
DCR_DRUG_LST_ID    int64
dtype: object

In [6]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.head()

   NDC_NBR  DCR_DRUG_LST_ID
0    10001                1
1    10001                2
2    10001                3
3    10001                4
4    10001                5

In [7]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.tail()

      NDC_NBR  DCR_DRUG_LST_ID
1014    10062                6
1015    10062                7
1016    10062                8
1017    10062                9
1018    10062               10

In [8]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID'], dtype='object')

In [9]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.NDC_NBR.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [10]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.NDC_NBR.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [11]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.DCR_DRUG_LST_ID.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80], dtype=int64)

In [12]:
# import history table

In [13]:
import pandas as pd
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST=pd.read_excel(r"C:\jaya sri\PROJECT\data files\task2_inputfiles.xlsx",sheet_name="NDC_DCR_LIST_HIST")
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001              1.0  2021-05-23 2024-09-03
1       10001              2.0  2021-08-09 2024-09-03
2       10001              3.0  2022-03-01 2022-07-05
3       10001              4.0  2020-01-20 2022-07-05
4       10001              5.0  2020-11-10 2024-09-03
...       ...              ...         ...        ...
2032    10060             28.0  2022-09-01 2024-09-03
2033    10060             29.0  2021-04-07 2024-09-03
2034    10060             30.0  2022-04-20 2024-09-03
2035    10060             31.0  2021-04-03 2024-09-03
2036    10060             32.0  2022-09-01 2024-09-03

[2037 rows x 4 columns]

In [14]:
# basic checks

In [15]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.shape

(2037, 4)

In [16]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.head()

   NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0    10001              1.0  2021-05-23 2024-09-03
1    10001              2.0  2021-08-09 2024-09-03
2    10001              3.0  2022-03-01 2022-07-05
3    10001              4.0  2020-01-20 2022-07-05
4    10001              5.0  2020-11-10 2024-09-03

In [17]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.tail()

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2032    10060             28.0  2022-09-01 2024-09-03
2033    10060             29.0  2021-04-07 2024-09-03
2034    10060             30.0  2022-04-20 2024-09-03
2035    10060             31.0  2021-04-03 2024-09-03
2036    10060             32.0  2022-09-01 2024-09-03

In [18]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE', 'DROP_DATE'], dtype='object')

In [19]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.DCR_DRUG_LST_ID.unique()

array([ 1. ,  2. ,  3. ,  4. ,  5. ,  6. ,  7. ,  8. ,  9. , 10. , 11. ,
       12. , 13. , 14. , 15. , 16. , 17. , 18. , 19. , 20. , 21. , 22. ,
       23. , 24. , 25. , 26. , 27. , 28. , 29. , 30. , 31. , 32. , 33. ,
       34. , 35. , 36. , 37. , 38. , 39. , 40. , 41. , 42. , 43. , 44. ,
       45. , 46. , 47. , 48. , 49. , 50. , 51. , 52. , 53. , 54. , 55. ,
       56. , 57. , 58. , 59. , 60. , 61. , 62. , 63. , 64. , 65. , 66. ,
       67. , 68. , 69. , 70. , 71. , 72. , 73. , 74. , 75. , 76. , 77. ,
       78. , 79. , 80. , 81. , 82. , 83. , 84. , 85. , 86. , 87. , 88. ,
        4.7,  5.4,  6.1,  6.8,  7.5,  8.2,  8.9,  9.6, 10.3, 11.7, 12.4,
       13.1, 13.8, 14.5, 15.2, 15.9, 16.6, 17.3, 18.7, 19.4, 20.1, 20.8,
       21.5, 22.2, 22.9, 23.6, 24.3, 25.7, 26.4, 27.1, 27.8, 28.5, 29.2,
       29.9, 30.6, 31.3, 32.7, 33.4, 34.1, 34.8, 35.5, 36.2, 36.9, 37.6,
       38.3])

In [20]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.NDC_NBR.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027,
       10028, 10029, 10030, 10045, 10046, 10047, 10048, 10049, 10050,
       10051, 10052, 10053, 10054, 10055, 10056, 10057, 10058, 10059,
       10060], dtype=int64)

In [21]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID           float64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [22]:
#convert float values into int

In [23]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST['DCR_DRUG_LST_ID']=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST['DCR_DRUG_LST_ID'].astype('int64')

In [24]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [25]:
#IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.to_timeslot

In [26]:
#filter drop date == future date

In [27]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST[IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST["DROP_DATE"]=="2024-09-03"]

In [28]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[1866 rows x 4 columns]

In [29]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [30]:
# filter drop date not equals to future date

In [31]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_not=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST[IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST["DROP_DATE"]!="2024-09-03"]

In [32]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_not

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2      10001                3  2022-03-01 2022-07-05
3      10001                4  2020-01-20 2022-07-05
5      10001                6  2020-07-22 2022-09-01
9      10001               10  2021-08-15 2022-09-01
13     10002                4  2021-04-07 2022-07-05
..       ...              ...         ...        ...
870    10023               12  2021-04-03 2022-04-20
874    10023               16  2021-08-09 2022-07-05
875    10023               17  2022-03-01 2022-04-20
881    10023               23  2020-02-09 2022-04-20
885    10023               27  2022-09-01 2022-07-05

[171 rows x 4 columns]

In [33]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_not.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [34]:
# rename a current table columns

In [35]:
NDC_NBR_LIST_V1=IW_MBRENG_WORKDB_NDC_DCR_LIST

In [36]:
NDC_NBR_LIST_V1.columns=['NDC_NBR_V1','DCR_DRUG_LST_ID_V1']

In [37]:
NDC_NBR_LIST_V1.dtypes

NDC_NBR_V1            int64
DCR_DRUG_LST_ID_V1    int64
dtype: object

In [38]:
# merge future date with current table

In [39]:
f_merge_fudt_cudt=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt.merge(NDC_NBR_LIST_V1,right_on=['NDC_NBR_V1','DCR_DRUG_LST_ID_V1'],left_on=['NDC_NBR','DCR_DRUG_LST_ID'],how="left")

In [40]:
f_merge_fudt_cudt

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_V1,DCR_DRUG_LST_ID_V1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,5,2020-11-10,2024-09-03,10001.0,5.0
3,10001,7,2021-02-19,2024-09-03,10001.0,7.0
4,10001,8,2022-07-05,2024-09-03,10001.0,8.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,NaN,NaN
1862,10060,29,2021-04-07,2024-09-03,NaN,NaN
1863,10060,30,2022-04-20,2024-09-03,NaN,NaN
1864,10060,31,2021-04-03,2024-09-03,NaN,NaN
1865,10060,32,2022-09-01,2024-09-03,NaN,NaN

In [41]:
f_merge_fudt_cudt.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE             datetime64[ns]
NDC_NBR_V1                   float64
DCR_DRUG_LST_ID_V1           float64
dtype: object

In [42]:
# filter nan values

In [43]:
#df2['Discount'] =  df['Discount'].fillna(0)
#NDC_DCR_LIST_HIST_drop_fute_join_v1=NDC_DCR_LIST_HIST_drop_fute_join.fillna(0)

In [44]:
 f_merge_fudt_cudt_v1=f_merge_fudt_cudt.fillna(0)

In [45]:
f_merge_fudt_cudt_v1

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_V1,DCR_DRUG_LST_ID_V1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,5,2020-11-10,2024-09-03,10001.0,5.0
3,10001,7,2021-02-19,2024-09-03,10001.0,7.0
4,10001,8,2022-07-05,2024-09-03,10001.0,8.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,0.0,0.0
1862,10060,29,2021-04-07,2024-09-03,0.0,0.0
1863,10060,30,2022-04-20,2024-09-03,0.0,0.0
1864,10060,31,2021-04-03,2024-09-03,0.0,0.0
1865,10060,32,2022-09-01,2024-09-03,0.0,0.0

In [46]:
# filter only non_match to history table patient id values

In [47]:
f_merge_fudt_cudt_v1_non_match=f_merge_fudt_cudt_v1[f_merge_fudt_cudt_v1["NDC_NBR_V1"]==0]
f_merge_fudt_cudt_v1_non_match

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_V1,DCR_DRUG_LST_ID_V1
283,10013,37,2021-04-07,2024-09-03,0.0,0.0
829,10026,1,2022-09-01,2024-09-03,0.0,0.0
830,10026,2,2021-04-07,2024-09-03,0.0,0.0
831,10026,3,2021-02-19,2024-09-03,0.0,0.0
832,10026,4,2022-07-05,2024-09-03,0.0,0.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,0.0,0.0
1862,10060,29,2021-04-07,2024-09-03,0.0,0.0
1863,10060,30,2022-04-20,2024-09-03,0.0,0.0
1864,10060,31,2021-04-03,2024-09-03,0.0,0.0
1865,10060,32,2022-09-01,2024-09-03,0.0,0.0

In [48]:
# filter

In [49]:
ndc_nbr_id_filters=f_merge_fudt_cudt_v1_non_match['NDC_NBR'].to_list()

In [50]:
ndc_nbr_id_filters

[10013,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 ...]

In [51]:
from datetime import date
current_date=date.today()
print("current_date=",current_date)

current_date= 2023-09-08

In [52]:
import pandas as pd
newdf=pd.DataFrame([current_date,current_date],columns=['dates'])

In [53]:
newdf

        dates
0  2023-09-08
1  2023-09-08

In [54]:
newdf.dtypes

dates    object
dtype: object

In [55]:
# convert the 'Date' column to datetime format
newdf['dates']= pd.to_datetime(newdf['dates'])
 
# Check the format of 'Date' column
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [56]:
newdf.dtypes

dates    datetime64[ns]
dtype: object

In [57]:
newdf['dates'][0]

Timestamp('2023-09-08 00:00:00')

In [58]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt

In [59]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [60]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[1866 rows x 4 columns]

In [61]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'].astype('object')

C:\Users\hp\AppData\Local\Temp\ipykernel_10716\349057716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'].astype('object')

In [62]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE            DROP_DATE
0       10001                1  2021-05-23  2024-09-03 00:00:00
1       10001                2  2021-08-09  2024-09-03 00:00:00
4       10001                5  2020-11-10  2024-09-03 00:00:00
6       10001                7  2021-02-19  2024-09-03 00:00:00
7       10001                8  2022-07-05  2024-09-03 00:00:00
...       ...              ...         ...                  ...
2032    10060               28  2022-09-01  2024-09-03 00:00:00
2033    10060               29  2021-04-07  2024-09-03 00:00:00
2034    10060               30  2022-04-20  2024-09-03 00:00:00
2035    10060               31  2021-04-03  2024-09-03 00:00:00
2036    10060               32  2022-09-01  2024-09-03 00:00:00

[1866 rows x 4 columns]

In [63]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt.DROP_DATE.unique()

array([Timestamp('2024-09-03 00:00:00')], dtype=object)

In [64]:
# 2(a) step final output

In [65]:
import numpy as np

In [66]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=np.where(IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['NDC_NBR'].isin(ndc_nbr_id_filters),newdf['dates'][0],IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'])

C:\Users\hp\AppData\Local\Temp\ipykernel_10716\3454512828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE']=np.where(IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['NDC_NBR'].isin(ndc_nbr_id_filters),newdf['dates'][0],IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt['DROP_DATE'])

In [67]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2023-09-08
2033    10060               29  2021-04-07 2023-09-08
2034    10060               30  2022-04-20 2023-09-08
2035    10060               31  2021-04-03 2023-09-08
2036    10060               32  2022-09-01 2023-09-08

[1866 rows x 4 columns]

In [68]:
###previous history table

In [69]:
                                   #*************************************

In [70]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2023-09-08
2033    10060               29  2021-04-07 2023-09-08
2034    10060               30  2022-04-20 2023-09-08
2035    10060               31  2021-04-03 2023-09-08
2036    10060               32  2022-09-01 2023-09-08

[1866 rows x 4 columns]

In [71]:
from datetime import date
today=date.today()
print(today)

2023-09-08

In [72]:
# Python program to get
# Yesterday's date


# Import date and timedelta class
# from datetime module
from datetime import date
from datetime import timedelta



# Yesterday date
bf_threedays = today - timedelta(days = 3)
print( bf_threedays)

2023-09-05

In [73]:
newdf1=pd.DataFrame([bf_threedays,bf_threedays],columns=['Date'])

In [74]:
# convert the 'Date' column to datetime format
newdf1['Date']= pd.to_datetime(newdf1['Date'])
 
# Check the format of 'Date' column
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [75]:
bf_threedays

datetime.date(2023, 9, 5)

In [76]:
newdf1['Date'][0]

Timestamp('2023-09-05 00:00:00')

In [77]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["future_drop_date"]=np.where((IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]=="2024-09-03") | (IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]<newdf1['Date'][0]),"Y","N")

C:\Users\hp\AppData\Local\Temp\ipykernel_10716\823218746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["future_drop_date"]=np.where((IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]=="2024-09-03") | (IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt["DROP_DATE"]<newdf1['Date'][0]),"Y","N")

In [78]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE future_drop_date
0       10001                1  2021-05-23 2024-09-03                Y
1       10001                2  2021-08-09 2024-09-03                Y
4       10001                5  2020-11-10 2024-09-03                Y
6       10001                7  2021-02-19 2024-09-03                Y
7       10001                8  2022-07-05 2024-09-03                Y
...       ...              ...         ...        ...              ...
2032    10060               28  2022-09-01 2023-09-08                N
2033    10060               29  2021-04-07 2023-09-08                N
2034    10060               30  2022-04-20 2023-09-08                N
2035    10060               31  2021-04-03 2023-09-08                N
2036    10060               32  2022-09-01 2023-09-08                N

[1866 rows x 5 columns]

In [79]:
# current_table

In [80]:
IW_MBRENG_WORKDB_NDC_DCR_LIST

      NDC_NBR_V1  DCR_DRUG_LST_ID_V1
0          10001                   1
1          10001                   2
2          10001                   3
3          10001                   4
4          10001                   5
...          ...                 ...
1014       10062                   6
1015       10062                   7
1016       10062                   8
1017       10062                   9
1018       10062                  10

[1019 rows x 2 columns]

In [81]:
# renaen a column names

In [82]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.columns=['NDC_NBR_v1','DCR_DRUG_LST_ID_v1']

In [83]:
IW_MBRENG_WORKDB_NDC_DCR_LIST.columns

Index(['NDC_NBR_v1', 'DCR_DRUG_LST_ID_v1'], dtype='object')

In [84]:
# merge

In [85]:
merge=IW_MBRENG_WORKDB_NDC_DCR_LIST.merge(IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST_fudt_testt,how="left",left_on=['NDC_NBR_v1', 'DCR_DRUG_LST_ID_v1'],right_on=['NDC_NBR','DCR_DRUG_LST_ID'])

In [86]:
merge

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,10001,1,10001.0,1.0,2021-05-23,2024-09-03,Y
1,10001,2,10001.0,2.0,2021-08-09,2024-09-03,Y
2,10001,3,NaN,NaN,NaT,NaT,NaN
3,10001,4,NaN,NaN,NaT,NaT,NaN
4,10001,5,10001.0,5.0,2020-11-10,2024-09-03,Y
...,...,...,...,...,...,...,...
1014,10062,6,NaN,NaN,NaT,NaT,NaN
1015,10062,7,NaN,NaN,NaT,NaT,NaN
1016,10062,8,NaN,NaN,NaT,NaT,NaN
1017,10062,9,NaN,NaN,NaT,NaT,NaN
1018,10062,10,NaN,NaN,NaT,NaT,NaN

In [87]:
 #f_merge_fudt_cudt_v1=f_merge_fudt_cudt.fillna(0)

In [88]:
merge_new=merge.fillna(0)

In [89]:
merge_new

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,10001,1,10001.0,1.0,2021-05-23 00:00:00,2024-09-03 00:00:00,Y
1,10001,2,10001.0,2.0,2021-08-09 00:00:00,2024-09-03 00:00:00,Y
2,10001,3,0.0,0.0,0,0,0
3,10001,4,0.0,0.0,0,0,0
4,10001,5,10001.0,5.0,2020-11-10 00:00:00,2024-09-03 00:00:00,Y
...,...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0,0
1015,10062,7,0.0,0.0,0,0,0
1016,10062,8,0.0,0.0,0,0,0
1017,10062,9,0.0,0.0,0,0,0
1018,10062,10,0.0,0.0,0,0,0

In [90]:
NDC_DCR_LIST_NEW=merge_new[merge_new["NDC_NBR"]==0]
NDC_DCR_LIST_NEW

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
2,10001,3,0.0,0.0,0,0,0
3,10001,4,0.0,0.0,0,0,0
5,10001,6,0.0,0.0,0,0,0
9,10001,10,0.0,0.0,0,0,0
13,10002,4,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0,0
1015,10062,7,0.0,0.0,0,0,0
1016,10062,8,0.0,0.0,0,0,0
1017,10062,9,0.0,0.0,0,0,0
1018,10062,10,0.0,0.0,0,0,0

In [91]:
NDC_DCR_LIST_NEW.NDC_NBR_v1.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10061, 10062], dtype=int64)

In [92]:
                    #****3b******************************

In [93]:
IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
2       10001                3  2022-03-01 2022-07-05
3       10001                4  2020-01-20 2022-07-05
4       10001                5  2020-11-10 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[2037 rows x 4 columns]

In [94]:
IW_MBRENG_WORKDB_NDC_DCR_LIST

      NDC_NBR_v1  DCR_DRUG_LST_ID_v1
0          10001                   1
1          10001                   2
2          10001                   3
3          10001                   4
4          10001                   5
...          ...                 ...
1014       10062                   6
1015       10062                   7
1016       10062                   8
1017       10062                   9
1018       10062                  10

[1019 rows x 2 columns]

In [95]:
cu_his_merge=IW_MBRENG_WORKDB_NDC_DCR_LIST_HIST.merge(IW_MBRENG_WORKDB_NDC_DCR_LIST,how="left",left_on=["NDC_NBR","DCR_DRUG_LST_ID"],right_on=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"])

In [96]:
cu_his_merge

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,3,2022-03-01,2022-07-05,10001.0,3.0
3,10001,4,2020-01-20,2022-07-05,10001.0,4.0
4,10001,5,2020-11-10,2024-09-03,10001.0,5.0
...,...,...,...,...,...,...
2032,10060,28,2022-09-01,2024-09-03,NaN,NaN
2033,10060,29,2021-04-07,2024-09-03,NaN,NaN
2034,10060,30,2022-04-20,2024-09-03,NaN,NaN
2035,10060,31,2021-04-03,2024-09-03,NaN,NaN
2036,10060,32,2022-09-01,2024-09-03,NaN,NaN

In [97]:
cu_his_merge.DROP_DATE.unique()

array(['2024-09-03T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [98]:
cu_his_merge.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE             datetime64[ns]
NDC_NBR_v1                   float64
DCR_DRUG_LST_ID_v1           float64
dtype: object

In [99]:
cu_his_merge_fil=cu_his_merge[cu_his_merge["DROP_DATE"]!="2024-09-03"]

In [100]:
cu_his_merge_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2022-03-01,2022-07-05,10001.0,3.0
3,10001,4,2020-01-20,2022-07-05,10001.0,4.0
5,10001,6,2020-07-22,2022-09-01,10001.0,6.0
9,10001,10,2021-08-15,2022-09-01,10001.0,10.0
13,10002,4,2021-04-07,2022-07-05,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2021-04-03,2022-04-20,10023.0,12.0
874,10023,16,2021-08-09,2022-07-05,10023.0,16.0
875,10023,17,2022-03-01,2022-04-20,10023.0,17.0
881,10023,23,2020-02-09,2022-04-20,10023.0,23.0
885,10023,27,2022-09-01,2022-07-05,10023.0,27.0

In [101]:
cu_his_merge_fil.DROP_DATE.unique()

array(['2022-07-05T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2022-03-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [102]:
future_date="2024-09-03"

In [103]:
#newdf_f=pd.DataFrame([future_date,future_date],columns=['Dates'])

In [104]:
future_date

'2024-09-03'

In [105]:
newdf_f=pd.DataFrame([future_date,future_date],columns=['Dates'])

In [106]:
# convert the 'Date' column to datetime format
newdf_f['Dates']= pd.to_datetime(newdf_f['Dates'])
 
# Check the format of 'Date' column
newdf_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [107]:
newdf_f['Dates'][0]

Timestamp('2024-09-03 00:00:00')

In [108]:
cu_his_merge_fil["DROP_DATE"]=np.where(cu_his_merge_fil["DROP_DATE"]!="2024-09-03",newdf_f['Dates'][0],cu_his_merge_fil["DROP_DATE"])

C:\Users\hp\AppData\Local\Temp\ipykernel_10716\2943586875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cu_his_merge_fil["DROP_DATE"]=np.where(cu_his_merge_fil["DROP_DATE"]!="2024-09-03",newdf_f['Dates'][0],cu_his_merge_fil["DROP_DATE"])

In [109]:
cu_his_merge_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2022-03-01,2024-09-03,10001.0,3.0
3,10001,4,2020-01-20,2024-09-03,10001.0,4.0
5,10001,6,2020-07-22,2024-09-03,10001.0,6.0
9,10001,10,2021-08-15,2024-09-03,10001.0,10.0
13,10002,4,2021-04-07,2024-09-03,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2021-04-03,2024-09-03,10023.0,12.0
874,10023,16,2021-08-09,2024-09-03,10023.0,16.0
875,10023,17,2022-03-01,2024-09-03,10023.0,17.0
881,10023,23,2020-02-09,2024-09-03,10023.0,23.0
885,10023,27,2022-09-01,2024-09-03,10023.0,27.0

In [110]:
cu_his_merge_fil.INSERT_DATE.unique()

array(['2022-03-01T00:00:00.000000000', '2020-01-20T00:00:00.000000000',
       '2020-07-22T00:00:00.000000000', '2021-08-15T00:00:00.000000000',
       '2021-04-07T00:00:00.000000000', '2020-07-15T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2021-02-19T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2020-02-09T00:00:00.000000000',
       '2021-04-03T00:00:00.000000000', '2020-11-10T00:00:00.000000000',
       '2021-05-23T00:00:00.000000000', '2021-08-09T00:00:00.000000000',
       '2022-07-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [111]:
# import current date function

In [112]:
from datetime import date
today=date.today()
print(today)

2023-09-08

In [113]:
today

datetime.date(2023, 9, 8)

In [114]:
newdf_cd=pd.DataFrame([today,today],columns=['date'])

In [115]:
# convert the 'Date' column to datetime format
newdf_cd['date']= pd.to_datetime(newdf_cd['date'])
 
# Check the format of 'Date' column
newdf_cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [116]:
newdf_cd['date'][0]

Timestamp('2023-09-08 00:00:00')

In [117]:
cu_his_merge_fil["INSERT_DATE"]=np.where(cu_his_merge_fil["INSERT_DATE"]!="2024-09-03",newdf_cd['date'][0],cu_his_merge_fil["INSERT_DATE"])

C:\Users\hp\AppData\Local\Temp\ipykernel_10716\3286469037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cu_his_merge_fil["INSERT_DATE"]=np.where(cu_his_merge_fil["INSERT_DATE"]!="2024-09-03",newdf_cd['date'][0],cu_his_merge_fil["INSERT_DATE"])

In [118]:
cu_his_merge_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2023-09-08,2024-09-03,10001.0,3.0
3,10001,4,2023-09-08,2024-09-03,10001.0,4.0
5,10001,6,2023-09-08,2024-09-03,10001.0,6.0
9,10001,10,2023-09-08,2024-09-03,10001.0,10.0
13,10002,4,2023-09-08,2024-09-03,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2023-09-08,2024-09-03,10023.0,12.0
874,10023,16,2023-09-08,2024-09-03,10023.0,16.0
875,10023,17,2023-09-08,2024-09-03,10023.0,17.0
881,10023,23,2023-09-08,2024-09-03,10023.0,23.0
885,10023,27,2023-09-08,2024-09-03,10023.0,27.0

In [119]:
                      #***************************************

In [120]:
# import medical product table

In [121]:
import pandas as pd
df_medical_product=pd.read_excel(r"C:\jaya sri\PROJECT\data files\task2_inputfiles.xlsx",sheet_name="MEDICAL_PRODUCT_CURRENT")
df_medical_product

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,STRENGTH_MSR,END_EFF_DTE,SK_STC_CDE,SK_HICL_CDE,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,10280,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
1,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,10990,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y
2,10003,2021-09-04,CLONAZEPAM,1,NaN,G,17471,NaN,NaN,NaN,NaN,12/21/3000,3014,18940,CLONAZEPAM 1MG TABLET,NaN,NaN,Y
3,10004,2021-09-04,BUPIVACAINE HCL,0,NaN,A,48050,NaN,NaN,NaN,NaN,12/21/3000,2050,26080,BUPIVACAINE 0.25% VIAL,NaN,NaN,Y
4,10005,2021-09-04,INOSITOL,1,NaN,A,19757,NaN,NaN,NaN,NaN,12/21/3000,1040,25243,INOSITOL POWDER,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,NaN,12/21/3000,4055,12770,OMNIPAQUE 240MG/ML INFU BTL,NaN,NaN,Y
142,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,NaN,12/21/3000,2099,10280,NON ASPIRIN 500MG CAPSULE,NaN,NaN,Y
143,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,NaN,12/21/3000,8889,10990,NEXIUM 40MG CAPSULE,NaN,NaN,Y
144,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,18940,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
145,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,26080,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y

In [122]:
df_medical_product.PRODUCT_SERVICE_ID.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027,
       10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035, 10036,
       10037, 10038, 10039, 10040, 10041, 10042, 10043, 10044, 10045,
       10046, 10047, 10048, 10049, 10050, 10051, 10052, 10053, 10054,
       10055, 10056, 10057, 10058, 10059, 10060, 10061, 10062, 10063,
       10064, 10065, 10066, 10067, 10068, 10069, 10070, 10071, 10072,
       10073, 10074, 10075, 10076, 10077, 10078, 10079, 10080, 10081,
       10082, 10083, 10084, 10085, 10086, 10087, 10088, 10089, 10090,
       10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098, 10099,
       10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107, 10108,
       10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116, 10117,
       10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125, 10126,
       10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134, 10135,
       10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144,
       10145, 10146], dtype=int64)

In [123]:
# basic checks

In [124]:
df_medical_product.head()

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,STRENGTH_MSR,END_EFF_DTE,SK_STC_CDE,SK_HICL_CDE,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,10280,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
1,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,10990,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y
2,10003,2021-09-04,CLONAZEPAM,1,NaN,G,17471,NaN,NaN,NaN,NaN,12/21/3000,3014,18940,CLONAZEPAM 1MG TABLET,NaN,NaN,Y
3,10004,2021-09-04,BUPIVACAINE HCL,0,NaN,A,48050,NaN,NaN,NaN,NaN,12/21/3000,2050,26080,BUPIVACAINE 0.25% VIAL,NaN,NaN,Y
4,10005,2021-09-04,INOSITOL,1,NaN,A,19757,NaN,NaN,NaN,NaN,12/21/3000,1040,25243,INOSITOL POWDER,NaN,NaN,Y

In [125]:
df_medical_product.tail()

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,STRENGTH_MSR,END_EFF_DTE,SK_STC_CDE,SK_HICL_CDE,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE
141,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,NaN,12/21/3000,4055,12770,OMNIPAQUE 240MG/ML INFU BTL,NaN,NaN,Y
142,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,NaN,12/21/3000,2099,10280,NON ASPIRIN 500MG CAPSULE,NaN,NaN,Y
143,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,NaN,12/21/3000,8889,10990,NEXIUM 40MG CAPSULE,NaN,NaN,Y
144,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,18940,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
145,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,26080,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y

In [126]:
df_medical_product.shape

(146, 18)

In [127]:
df_medical_product.columns

Index(['PRODUCT_SERVICE_ID', 'EFF_DTE', 'BRAND_NME', 'MAINTENANCE_DRUG_CDE',
       'SPECIALTY_PHCY_IND', 'DRUG_SUBSTITUTION_CDE', 'GCN_NBR',
       'STRENGTH_DSC', 'DOSAGE_FORM_CDE', 'MULTI_SRC_CDE', 'STRENGTH_MSR',
       'END_EFF_DTE', 'SK_STC_CDE', 'SK_HICL_CDE', 'LABLE_TXT',
       'MEDCO_DRUG_NBR', 'DEA_CDE', 'LONGTERM_ACUTE'],
      dtype='object')

In [128]:
# import new list table

In [129]:
NDC_DCR_LIST_NEW

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
2,10001,3,0.0,0.0,0,0,0
3,10001,4,0.0,0.0,0,0,0
5,10001,6,0.0,0.0,0,0,0
9,10001,10,0.0,0.0,0,0,0
13,10002,4,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0,0
1015,10062,7,0.0,0.0,0,0,0
1016,10062,8,0.0,0.0,0,0,0
1017,10062,9,0.0,0.0,0,0,0
1018,10062,10,0.0,0.0,0,0,0

In [130]:
# merge  base= medical product and child= list new table

In [131]:
MPC_WORK=df_medical_product.merge(NDC_DCR_LIST_NEW,how="left",left_on="PRODUCT_SERVICE_ID",right_on='NDC_NBR_v1')

In [132]:
MPC_WORK

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,...,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,future_drop_date
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,3.0,0.0,0.0,0,0,0
1,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,4.0,0.0,0.0,0,0,0
2,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,6.0,0.0,0.0,0,0,0
3,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,NaN,NaN,Y,10001.0,10.0,0.0,0.0,0,0,0
4,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,...,NaN,NaN,Y,10002.0,4.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
MPC_WORK.PRODUCT_SERVICE_ID.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027,
       10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035, 10036,
       10037, 10038, 10039, 10040, 10041, 10042, 10043, 10044, 10045,
       10046, 10047, 10048, 10049, 10050, 10051, 10052, 10053, 10054,
       10055, 10056, 10057, 10058, 10059, 10060, 10061, 10062, 10063,
       10064, 10065, 10066, 10067, 10068, 10069, 10070, 10071, 10072,
       10073, 10074, 10075, 10076, 10077, 10078, 10079, 10080, 10081,
       10082, 10083, 10084, 10085, 10086, 10087, 10088, 10089, 10090,
       10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098, 10099,
       10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107, 10108,
       10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116, 10117,
       10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125, 10126,
       10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134, 10135,
       10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144,
       10145, 10146], dtype=int64)